<div class="homepage container-fluid">
    <div class="top-field">
        <div class="search-bar">
            <input type="search" class="form-control" placeholder="Search any fields">
        </div>
        <div class="btn-container">
            <button class="filter-btn" (click)="enableFilters()"><i class="fas fa-filter"></i></button>
            <ul *ngIf="isFilterDropdown">
                <li>
                    <!--   <ng-select
                        class="keyword"
                        [items]="keyFilter"
                        bindLabel="category"
                        placeholder="select keyword"
                        >
                        </ng-select>
                        <ng-select
                        class="keyword"
                        [items]="keyFilter"
                        bindLabel="category"
                        placeholder="select keyword"
                        >
                        </ng-select> -->
                </li>
            </ul>

            <button class="download-btn">Download</button>
        </div>
    </div>
    <hr>
    <div class="content">
        <div class="col-12 float-left  pl-3 pr-3">
            <ngb-pagination class="d-flex justify-content-end" [pageSize]="10" [collectionSize]="tableData.length"
                [(page)]="page" [boundaryLinks]="true" [maxSize]="5"></ngb-pagination>
        </div>
        <div class="col-12 float-left  pl-3 pr-3">
            <table class="table table-bordered table-striped table-hover table-light  pl-3 pr-3">
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th (click)="sortTable('name', tableData)">Name<i class="fas fa-sort"></i></th>
                        <th (click)="sortTable('asset', tableData)">Asset<i class="fas fa-sort"></i></th>
                        <th (click)="sortTable('etag', tableData)">Etag<i class="fas fa-sort"></i></th>
                        <th (click)="sortTable('assigned', tableData)">Assigned<i class="fas fa-sort"></i></th>
                        <th (click)="sortTable('assignedto', tableData)">Assigned to<i class="fas fa-sort"></i></th>
                        <th (click)="sortTable('changeGroup', tableData)">Change group<i class="fas fa-sort"></i></th>
                        <th (click)="sortTable('value', tableData)">Value<i class="fas fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of tableData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;; let i = index">
                        <td>{{(i + 1) + (page - 1) * pageSize}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.asset}}</td>
                        <td>{{data.etag}}</td>
                        <td>{{data.assigned}}</td>
                        <td>{{data.assignedto}}</td>
                        <td>{{data.changeGroup}}</td>
                        <td>{{data.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- loader -->
<div class="overlay-main-lab" *ngIf="!labwiseChartLoader">
    <div class="spinner-container-lab">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
            <div class="rect8"></div>
            <div class="rect9"></div>
        </div>
        <div class="proccessing-text">Loading ...</div>
    </div>
</div>